
body {
    margin:0;
    padding:0;
    box-sizing:border-box;
    background:rgba(0,0,0,0.78);
}

.container {
    display:flex;
    flex-direction:column;
    gap:20px;
    justify-content:center;
    align-items:center;
    margin:50px;
}

.board {
    width:200px;
    height:200px;
    border-radius:10px;
    margin-left:50px;
}

.cell {
    background:lightblue;
    border:1px solid black;
    width:60px;
    height:60px;
}