
body {
    margin:0;
    padding:0;
    box-sizing:border-box;
    background:rgba(0,0,0,0.78);
    font-family:Chiller;
}

.header, .result, .restart {
    background-color:rgba(6,6,8,0.2);
    padding:20px;
    font-size:2rem;
    font-weight:bold;
    color:white;
}

.container {
    display:flex;
    flex-direction:column;
    gap:20px;
    justify-content:center;
    align-items:center;
    margin:50px;
}

.board {
    background:white;
    padding:20px;
    border-radius:10px;
}

.cell {
    background-color: rgba(6, 6, 8, 0.84);
    color: rgb(208, 203, 203);
    font-weight:bolder;
    border:1px solid #000000;
    width:70px;
    height:70px;
}

.result, .restart {
    display:none;
    width:20vw;
    height:30px;
    border:1px solid white;
    border-radius:10px;
    text-align:center;
    font-size:25px;
}

.turn {
    color: rgb(208, 203, 203);
    font-weight:bold;
    font-size:40px;
}

.results {
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
}

.restart {
    width:100px;
    height:70px;
    border-radius:10px;
    font-weight: initial;
    font-family: Chiller;
}

